<<<<<<< HEAD
#myInput {
   background-image: url("../img/searchicon.png"); 
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 3px;
     margin-top: -2px; 
  }
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -6px;
      
    /* overflow: scroll;
    height: 900%; */
  } 
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  #myUL li a:hover  {
    background-color: #eee;
    /* position: relative;
    display: inline-block; */
    

  }
   .dropdown:hover>.dropdown-menu ul ul  {
    display: block;
    top: 100%;
    left: 100%;;
  }

 textarea{  display: none;}
 * {
  box-sizing: border-box;
}



.dropbtn {
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  color: #212529;
  cursor: pointer;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
   font-weight: normal;
   white-space: nowrap;
    font-size: 16px;
    cursor: pointer;
      width: 400%;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:#fff;;
  }

  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    width: 400%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}

  .dropdown>.dropdown-menu {
    top: 200%;
    transition: 0.3s all ease-in-out;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
    top: 100%;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
  .show {display: block;}
  /* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
  .scrollable-menu {
    height: auto;
  
    max-height: 200px;
    overflow-x: hidden;
}
.left{
  left: 100%;
  top: 0;
}

=======
#myInput {
<<<<<<< HEAD
    /* background-image: url('./img/searchicon.png'); */
=======
<<<<<<< HEAD
    /* background-image: url('./img/searchicon.png'); */
=======
    background-image: url('/BooksExchanging/img/searchicon.png');
>>>>>>> 2a6063bbd24656c3a136cb060aef24ecbc1f9325
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 3px;
    margin-top: -30px;
<<<<<<< HEAD
   
  
=======
<<<<<<< HEAD
   
  
=======
 
    /* margin-bottom: 12px; */

>>>>>>> 2a6063bbd24656c3a136cb060aef24ecbc1f9325
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: -6px;
<<<<<<< HEAD
    /* overflow: scroll;
    height: 900%; */
   
=======
<<<<<<< HEAD
   
   
  
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
    
  }

  
<<<<<<< HEAD
=======
=======
  }

>>>>>>> 2a6063bbd24656c3a136cb060aef24ecbc1f9325
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
<<<<<<< HEAD
 
    
=======
<<<<<<< HEAD
 
    
=======
>>>>>>> 2a6063bbd24656c3a136cb060aef24ecbc1f9325
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee;
<<<<<<< HEAD
  }
 textarea{  display: none;}
=======
  }
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
>>>>>>> fcd8f9815aea6a949b512772c1a8d6576a65c756
