li ul { display: none; }

li:hover > ul {
  display: block;
  position: absolute;
  width: 100%;
}
.depart-hover li {
    background: #fff;
    
}
li:hover li { float: none; }

ul ul , ul ul ul{
  left: 100%;
  top: 0;
}  
.col-lg-4 {
margin-top: 20px;
}
.list {
    left: 0;
}
.nav-item .nav-depart .styleDepart{
    width: 400px;
    padding: 7px ;
    background : #fff;
    color:#4c4c4c;
    border: 1px solid #ECEDEE;
    margin: 0 ;
    font-size: 16px;
    font-family: "Muli", sans-serif;
  
}
