<<<<<<< HEAD
li ul { display: none;
 }

li:hover > ul {
  display: block;
  position: absolute;
  width: 100%;
}
.depart-hover li {
    background: #fff;
  
    
}
li:hover li { float: none; }

ul ul , ul ul ul{
  left: 100%;
  top: 0;
}  
.col-lg-4 {
margin-top: 20px;
}
.list {
    left: 0;
    /* overflow: auto; */
}
.nav-item .nav-depart .styleDepart{
    width: 400px;
    padding: 7px ;
    background : #fff;
    color:#4c4c4c;
    border: 1px solid #ECEDEE;
    margin: 0 ;
    font-size: 16px;
    font-family: "Muli", sans-serif;
  
}
/* .bad{
  padding-bottom:20px ;
} */
/* .nav-item .nav-depart .styleDepart . */
#hh{
  height:30px;
  width: 555px;
  padding: 1px ;
  background : #fff;
  color:#4c4c4c;
  font-weight: 100px;
  border: 1px solid #ECEDEE;
  border-radius: 0;
  margin: 0 ;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 19px;
    font: Arial;

} 
.date{
  height: 34px;
  margin: 10px 0  ;
  clear: both;
    cursor: pointer;
    display: block;
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
     z-index: 1; 
    box-sizing: border-box;
    min-height: 34px;
    box-shadow: none;
    color: #333;
    font-family: inherit;
    font-size: inherit;
    line-height: 20px;
    border-radius: 4px;
}
.y{
  background-color: #e7ab3c;
}
.classSelect{
     margin:  10px 0;
    
}
.selectize-input{
   border: 1px solid #ebebeb;
}
.p{
  padding-top: 40px;
 
}
.butn{
  width: 100%;
  height: 40px;
  color: #fff;
  border-radius: 4px;
  font-size: larger;
 
}
=======
li ul { display: none;
 }

li:hover > ul {
  display: block;
  position: absolute;
  width: 100%;
}
.depart-hover li {
    background: #fff;
  
    
}
li:hover li { float: none; }

ul ul , ul ul ul{
  left: 100%;
  top: 0;
}  
.col-lg-4 {
margin-top: 20px;
}
.list {
    left: 0;
    /* overflow: auto; */
}
.nav-item .nav-depart .styleDepart{
    width: 400px;
    padding: 7px ;
    background : #fff;
    color:#4c4c4c;
    border: 1px solid #ECEDEE;
    margin: 0 ;
    font-size: 16px;
    font-family: "Muli", sans-serif;
  
}
<<<<<<< HEAD
/* .bad{
  padding-bottom:20px ;
} */
=======
.bad{
  padding-bottom:20px ;
}
>>>>>>> 1d52d8e4ba2d81e75a15a2f5a5f8dd5678321f1a
/* .nav-item .nav-depart .styleDepart . */
#hh{
  height:30px;
  width: 555px;
  padding: 1px ;
  background : #fff;
  color:#4c4c4c;
  font-weight: 100px;
  border: 1px solid #ECEDEE;
  border-radius: 0;
  margin: 0 ;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 19px;
    font: Arial;

  /* --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
} 
.date{
  padding-left: 40px;
  border-radius: 0;
  border: 1px solid #ECEDEE;
  height: 40px;
  line-height: 35px;
  margin: 0 ;
  clear: both;
    cursor: pointer;
    display: block;
    background-color: #fff;
    width:400px;
    margin-left: -6px;
}
>>>>>>> fcd8f9815aea6a949b512772c1a8d6576a65c756
